
.ipynb_checkpoints/*
sms-spam-detection/dataset/SMSSpamCollection.txt
sms-spam-detection/.ipynb_checkpoints/SMS-Spam-Detection-checkpoint.ipynb
Bank-Market-UCI/.ipynb_checkpoints/Bank_Marketing_UCI_V2-checkpoint.ipynb
Bank-Market-UCI/dataset/bank.csv
ml-pipeline/.ipynb_checkpoints/ML-End-to-End-Project-checkpoint.ipynb
ml-pipeline/dataset/twitter_sentiments.csv